* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
footer {
    background-color: rgba(0, 0, 0, 0.99);
    max-width: 1280px;
    margin: auto;
}
.f_poster {
    position: relative;
    display: flex;
    justify-content: flex-start;
    color: rgba(255, 255, 255, 0.9);
    margin-left: 100px;
}
.f_poster img {
    height: 470px;
    position: absolute;
    right: 0;
    top: 0;
}
.f_need_div_for_poster {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 470px;
}
.f_div_poster {
    z-index: 1;
    top: 50px;
    max-width: 400px;
}
.f_div_poster h1 {
    font-size: 45px;
}
.f_div_poster p {
    color: rgba(255, 255, 255, 0.67);
    font-size: 24px;
    margin-top: 10px;
}
.f_div_poster p s {
    color: rgba(255, 255, 255, 0.33);
}
.f_btn_sub {
    background: linear-gradient(150deg, white, blue, red);
    color: rgba(255, 255, 255, 0.6);
    width: fit-content;
    padding: 20px 45px;
    text-align: center;
    text-decoration: none;
    border-radius: 100px;
    font-size: 20px;
    margin-top: 30px;
    z-index: 1;
    transition: all 0.3s ease;
}
.f_poster > p {
    position: absolute;
    bottom: -20px;
    margin-right: 160px;
    color: rgba(255, 255, 255, 0.33);
    font-size: 12px;
}
.f_social_btns {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.f_social_btn_img {
    padding: 8px;
    width: 35px;
    height: 35px;
    background-color: rgba(255, 255, 255, 0.6);
    mask-image: var(--icon-path);
    mask-size: 35px;
    mask-repeat: no-repeat;
    mask-position: center;
    transition: all 0.3s ease;
}
.f_menu_btns {
    margin: 0 2.4%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.f_menu_btn {
    margin: 10px 15px 0 15px;
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s ease;
}
.f_download_apps {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 10px 30px 30px 30px;
    border-bottom: 0.1px solid rgba(255, 255, 255, 0.05);
}
.f_download_app {
    margin: 35px 0 10px 7.5px;
}
.f_download_app_img {
    width: 150px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.67);
    mask-image: var(--icon-path);
    mask-size: 150px;
    mask-repeat: no-repeat;
    mask-position: center;
    transition: all 0.3s ease;
}
.f_down_text_info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3%;
}
.f_text_info {
    display: flex;
    margin: 30px 0;
    color: rgba(255, 255, 255, 0.67);
    font-size: 16px;
    font-weight: 500;
}
.f_text_info a {
    margin: 0 5px;
    color: rgba(255, 255, 255, 0.67);
    text-decoration: none;
    transition: all 0.3s ease;
}
/* footer animation */
.f_btn_sub:hover {
    background: linear-gradient(330deg, white, blue, red);
    transform: scale(1.1);
    color: rgba(255, 255, 255, 0.9);
}
.f_btn_sub:focus-within {
    background: linear-gradient(330deg, white, blue, red);
    transform: scale(1.1);
    color: rgba(255, 255, 255, 0.9);
}
.f_social_btn:hover .f_social_btn_img {
    background-color: rgba(255, 255, 255, 0.9);
}
.f_social_btn:focus-within .f_social_btn_img {
    background-color: rgba(255, 255, 255, 0.9);
}
.f_menu_btn:hover {
    color: rgba(255, 255, 255, 0.9);
}
.f_menu_btn:focus-within {
    color: rgba(255, 255, 255, 0.9);
}
.f_download_app:hover .f_download_app_img {
    background-color: rgba(255, 255, 255, 0.9);
    transform: scale(1.1);
}
.f_download_app:focus-within .f_download_app_img {
    background-color: rgba(255, 255, 255, 0.9);
    transform: scale(1.1);
}
/* footer animation */