* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #000;
}
.player {
    display: flex;
    /* position: relative;
    width: 100%; */
    width: 100vw;
    height: 100vh;
}
video {
    background: #000;
    width: 100vw;
    height: auto;
    margin: auto;
}
.watchOrSkipBtns {
    position: absolute;
    right: 10px;
    bottom: 50px;
    transition: opacity .2s ease, transform .2s ease;
}
.watchOrSkipBtns.hidden {
    opacity: 0;
    transform: translateY(0px);
    pointer-events: none;
}
.wosBtn {
    font-size: 18px;
    padding: 5px;
    margin-right: 5px;
}
.wosBtn:hover {
    background-color: gray;
    color: white;
}
.controls {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(rgba(255, 0, 0, 0), rgba(0, 0, 0, 0.5));
    color: #fff;
    width: auto;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px 10px;
    transition: opacity .2s ease, transform .2s ease;
}
.controls.hidden {
    opacity: 0;
    transform: translateY(0px);
    pointer-events: none;
}
.controls button {
    padding: 3px;
}
.controls input {
    flex: 1;
    margin: 0 10px;
}