* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
    background-color: #000;
}
.player {
    display: flex;
    width: 100vw;
    height: 100vh;
}
.divEB {
    display: flex;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    margin-top: 35px;
    margin-left: 35px;
    z-index: 10;
    transition: all .3s ease;
}
.divEB.hidden {
    opacity: 0;
    transform: translateY(0px);
    pointer-events: none;
}
.playerEB {
    text-decoration: none;
    align-items: center;
}
.playerExitBtn {
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    width: 20px;
    height: 20px;
    padding: 15px;
    mask-image: var(--icon-path);
    mask-size: auto;
    mask-repeat: no-repeat;
    mask-position: center;
}
.divVN {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    left: 0;
    width: 100%;
    z-index: 9;
    transition: opacity .3s ease, transform .3s ease;
}
.divVN.hidden {
    opacity: 0;
    transform: translateY(0px);
    pointer-events: none;
}
.videoName {
    width: auto;
    height: 100px;
    padding: 10px;
}
.divVA {
    display: flex;
    position: absolute;
    align-items: center;
    align-self: center;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    margin-left: 35px;
    width: 50px;
    height: 50px;
    z-index: 8;
    transition: opacity .3s ease, transform .3s ease;
}
.divVA.hidden {
    opacity: 0;
    transform: translateY(0px);
    pointer-events: none;
}
.videoAge {
    color: rgba(255, 255, 255, 0.67);
    padding: 10px;
}
video {
    background: #000;
    width: 100vw;
    height: auto;
    margin: auto;
}
.watchOrSkipBtns {
    position: absolute;
    right: 10px;
    bottom: 60px;
    z-index: 10;
    transition: opacity .3s ease, transform .3s ease;
}
.watchOrSkipBtns.hidden {
    opacity: 0;
    transform: translateY(0px);
    pointer-events: none;
}
.wosBtn {
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.5);
    border: none;
    font-size: 16px;
    padding: 7.5px;
    border-radius: 50%;
    opacity: 0.75;
    transition: all .3s ease;
}
.controls {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(rgba(255, 0, 0, 0), rgba(0, 0, 0, 0.5));
    color: #fff;
    width: auto;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px 10px;
    transition: opacity .3s ease, transform .3s ease;
}
.controls.hidden {
    opacity: 0;
    transform: translateY(0px);
    pointer-events: none;
}
.controlsBtns {
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.5);
    border: none;
    font-size: 16px;
    width: 40px;
    padding: 7.5px;
    border-radius: 50%;
    transition: all .3s ease;
}
.controls input {
    flex: 1;
    margin: 0 10px;
}

/* player animation */
.divEB:hover {
    background-color: rgba(255, 255, 255, 0.67);
}
.divEB:focus-within {
    background-color: rgba(255, 255, 255, 0.67);
}
.divEB:hover .playerExitBtn {
    background-color: rgba(255, 255, 255, 0.9);
}
.divEB:focus-within .playerExitBtn {
    background-color: rgba(255, 255, 255, 0.9);
}
.wosBtn:hover {
    background-color: rgba(255, 255, 255, 0.33);
    color: rgba(255, 255, 255, 0.9);
    opacity: 1;
}
.wosBtn:focus-within {
    background-color: rgba(255, 255, 255, 0.33);
    color: rgba(255, 255, 255, 0.9);
    opacity: 1;
}
.controlsBtns:hover {
    background-color: rgba(255, 255, 255, 0.33);
    color: rgba(255, 255, 255, 0.9);
}
.controlsBtns:focus-within {
    background-color: rgba(255, 255, 255, 0.33);
    color: rgba(255, 255, 255, 0.9);
}
/* player animation */